In [3]:
import findspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

findspark.init()

spark = SparkSession.builder.master("local").appName("FSTExample").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/06/26 10:52:14 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/06/26 10:52:14 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
24/06/26 10:52:15 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [4]:
df = spark.read.option('multiline','true').json('zipcodes.json')
zc = df.select(df.RecordNumber, df.Zipcode, df.City, df.State,df.Country, df.Decommisioned,df.WorldRegion)
zc.show()

+------------+-------+-------------------+-----+-------+-------------+-----------+
|RecordNumber|Zipcode|               City|State|Country|Decommisioned|WorldRegion|
+------------+-------+-------------------+-----+-------+-------------+-----------+
|           1|    704|        PARC PARQUE|   PR|     US|        false|         NA|
|           2|    704|PASEO COSTA DEL SUR|   PR|     US|        false|         NA|
|          10|    709|       BDA SAN LUIS|   PR|     US|        false|         NA|
|       61391|  76166|  CINGULAR WIRELESS|   TX|     US|        false|         NA|
|       61392|  76177|         FORT WORTH|   TX|     US|        false|         NA|
|       61393|  76177|           FT WORTH|   TX|     US|        false|         NA|
|           4|    704|    URB EUGENE RICE|   PR|     US|        false|         NA|
|       39827|  85209|               MESA|   AZ|     US|        false|         NA|
|       39828|  85210|               MESA|   AZ|     US|        false|         NA|
|       49345|  32046|           HILLIARD|   FL|     US|        false|         NA|
|       49346|  34445|             HOLDER|   FL|     US|        false|         NA|
|       49347|  32564|               HOLT|   FL|     US|        false|         NA|
|       49348|  34487|          HOMOSASSA|   FL|     US|        false|         NA|
|          10|    708|       BDA SAN LUIS|   PR|     US|        false|         NA|
|           3|    704|      SECT LANAUSSE|   PR|     US|        false|         NA|
|       54354|  36275|      SPRING GARDEN|   AL|     US|        false|         NA|
|       54355|  35146|        SPRINGVILLE|   AL|     US|        false|         NA|
|       54356|  35585|        SPRUCE PINE|   AL|     US|        false|         NA|
|       76511|  27007|           ASH HILL|   NC|     US|        false|         NA|
|       76512|  27203|           ASHEBORO|   NC|     US|        false|         NA|
+------------+-------+-------------------+-----+-------+-------------+-----------+
only showing top 20 rows

Aggregate functions

In [5]:
zc.groupBy('State').count().orderBy('count',ascending=False).show()

+-----+-----+
|State|count|
+-----+-----+
|   PR|    6|
|   FL|    4|
|   NC|    3|
|   AL|    3|
|   TX|    3|
|   AZ|    2|
+-----+-----+

Sorting data

In [6]:
zc.orderBy(df.Zipcode.asc()).show()

+------------+-------+-------------------+-----+-------+-------------+-----------+
|RecordNumber|Zipcode|               City|State|Country|Decommisioned|WorldRegion|
+------------+-------+-------------------+-----+-------+-------------+-----------+
|           1|    704|        PARC PARQUE|   PR|     US|        false|         NA|
|           2|    704|PASEO COSTA DEL SUR|   PR|     US|        false|         NA|
|           4|    704|    URB EUGENE RICE|   PR|     US|        false|         NA|
|           3|    704|      SECT LANAUSSE|   PR|     US|        false|         NA|
|          10|    708|       BDA SAN LUIS|   PR|     US|        false|         NA|
|          10|    709|       BDA SAN LUIS|   PR|     US|        false|         NA|
|       76511|  27007|           ASH HILL|   NC|     US|        false|         NA|
|       76512|  27203|           ASHEBORO|   NC|     US|        false|         NA|
|       76513|  27204|           ASHEBORO|   NC|     US|        false|         NA|
|       49345|  32046|           HILLIARD|   FL|     US|        false|         NA|
|       49347|  32564|               HOLT|   FL|     US|        false|         NA|
|       49346|  34445|             HOLDER|   FL|     US|        false|         NA|
|       49348|  34487|          HOMOSASSA|   FL|     US|        false|         NA|
|       54355|  35146|        SPRINGVILLE|   AL|     US|        false|         NA|
|       54356|  35585|        SPRUCE PINE|   AL|     US|        false|         NA|
|       54354|  36275|      SPRING GARDEN|   AL|     US|        false|         NA|
|       61391|  76166|  CINGULAR WIRELESS|   TX|     US|        false|         NA|
|       61392|  76177|         FORT WORTH|   TX|     US|        false|         NA|
|       61393|  76177|           FT WORTH|   TX|     US|        false|         NA|
|       39827|  85209|               MESA|   AZ|     US|        false|         NA|
+------------+-------+-------------------+-----+-------+-------------+-----------+
only showing top 20 rows

Simple filtering

In [7]:
zc.filter((df.State == 'PR') | (df.State == 'TX')).show()
zc.filter((df.State == 'PR') & (df.Zipcode == 709)).show()

+------------+-------+-------------------+-----+-------+-------------+-----------+
|RecordNumber|Zipcode|               City|State|Country|Decommisioned|WorldRegion|
+------------+-------+-------------------+-----+-------+-------------+-----------+
|           1|    704|        PARC PARQUE|   PR|     US|        false|         NA|
|           2|    704|PASEO COSTA DEL SUR|   PR|     US|        false|         NA|
|          10|    709|       BDA SAN LUIS|   PR|     US|        false|         NA|
|       61391|  76166|  CINGULAR WIRELESS|   TX|     US|        false|         NA|
|       61392|  76177|         FORT WORTH|   TX|     US|        false|         NA|
|       61393|  76177|           FT WORTH|   TX|     US|        false|         NA|
|           4|    704|    URB EUGENE RICE|   PR|     US|        false|         NA|
|          10|    708|       BDA SAN LUIS|   PR|     US|        false|         NA|
|           3|    704|      SECT LANAUSSE|   PR|     US|        false|         NA|
+------------+-------+-------------------+-----+-------+-------------+-----------+